$white_color: #fff;
$primary-action-color: #0d6efd;
$base_color: #fb9a26;
$avatar_BC_color: #81e0f5;
$blue_color: #0094bc;
$black_color: #000;
$table_header: #e2e2e2;
$accept_green_color: #02B138;
$reject_red_color: #FD191A;
$blue_button: #3EAAC7;
$light_gray: lightgray;
$title_header: #595858;
$add_req_bgColor: #ffffff42;
$editor_bg_color: #ffffffad;
$base_blue: #0088D4;
$transperant_color: #fff0;
$bg_color:#b1d8e2;
