/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar {
  height: 10px;
  width: 0.3em;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1a5b6d;
  cursor: pointer;
}


